<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="plexus.reg.RegTest_6"/>
      <class name="plexus.reg.DrawsandGWP_1"/>
      <class name="plexus.reg.RegTest_9"/>
      <class name="plexus.reg.DrawsandGWP_2"/>
      <class name="plexus.reg.DrawsandGWP_3"/>
      <class name="plexus.reg.RegTest_8"/>
      <class name="plexus.reg.DrawsandGWP_4"/>
      <class name="plexus.reg.RegTest_3"/>
      <class name="plexus.reg.RegTest_2"/>
      <class name="plexus.reg.DrawsandGWP_5"/>
      <class name="plexus.reg.RegTest_5"/>
      <class name="plexus.reg.RegTest_5_1"/>
       <class name="plexus.reg.CreatePrefilledForm_1"/> 
      <class name="plexus.reg.RegTest_14"/>
      <class name="plexus.reg.DrawsandGWP_3a"/>
     <class name="plexus.reg.CreatePreFilledForm_5"/> 
      <class name="plexus.reg.CreatePrefilledForm_2"/> 
      <class name="plexus.reg.RegTest_13"/>
      <class name="plexus.reg.CreatePreFilledForm_3"/> 
      <class name="plexus.reg.CreatePreFilledForm_4"/> 
      <class name="plexus.reg.RegTest_15"/>
      <class name="plexus.reg.RegTest_10"/>
      <class name="plexus.reg.RegTest_12"/>
      <class name="plexus.reg.RegTest_11"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
